@import "../../styles/variables"
@import "../../styles/mixins"

.container
    display: flex
    width: 100%
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    z-index: 2
    background-color: black

    &__smm
        width: 100%
        max-width: 1920px
        height: max-content
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        position: relative

        .video
            width: 1920px
            height: max-content
            user-select: none
            pointer-events: none
            transition: opacity 0.5s ease-in-out

            &.active
                opacity: 1
                position: relative
                z-index: 1

            &.hidden
                opacity: 0
                position: absolute
                top: 0
                left: 0
                z-index: 0


